<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>属性绑定和双向数据绑定</title>
	<script src="./vue.js"></script>
</head>
<body>
	<div id="root">
		<div :title="title"> hello world</div>
		<input v-model="connect"/>
		<div>{{connect}}</div>
	</div>

	

	<script>
		new Vue({
			el: "#root",
			data: {
				title: "this is hello world",
				connect: "this is connect"
			}
		})
	</script>
	
</body>
</html>