<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>v-if,v-show,v-for</title>
	<script src="./vue.js"></script>
</head>
<body>
	<div id="root">
		<div v-show="show">hello world</div>
		<button @click="handleclick">toggle</button>
		<ur>
			<li v-for="(item , index) of list" :key="index">{{item}}</li>
		</ur>
	</div>
	
	<script>
		new Vue({
			el: "#root",
			data: {
				show: true,
				list: [1 , 2 ,3]
			},
			methods: {
				handleclick: function() {
					this.show = !this.show
				}
			}
		})
	</script>
</body>
</html>