<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TodoList</title>
	<script src="./vue.js"></script>
</head>
<body>
	<div id="root">
		<input v-model="inputValue"/>
		<button @click="handleSubmit">提交</button>
		<ur>
			<li v-for="(item , index) of list" :key="index">{{item}}</li>
		</ur>
	</div>

	<script>
		new Vue({
			el: "#root",
			data: {
				inputValue: 'hello',
				list: []
			},
			methods: {
				handleSubmit: function() {
					this.list.push(this.inputValue)
				}
			}
		})
	</script>
</body>
</html>