<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TodoList</title>
	<script src="./vue.js"></script>
</head>
<body>
	<div id="root">
		<input v-model="inputValue"/>
		<button @click="handleSubmit">提交</button>
		<ur>
			<todo-item v-for="(item , index) of list"
			:key="index"
			:content="item"
			:index="index"
			@delete="handledete"
			>
				
			</todo-item>
		</ur>
	</div>

	<script>

		Vue.component('todo-item' , {
			props: ['content' , 'index'],
			template: '<li @click="handleclick">{{content}} {{index}}</li>',
			methods: {
				handleclick: function() {
					this.$emit('delete' , this.index)
				}
			}
		})

		new Vue({
			el: "#root",
			data: {
				inputValue: 'hello',
				list: []
			},
			methods: {
				handleSubmit: function() {
					this.list.push(this.inputValue)
				},
				handledete:function(index) {
					this.list.splice(index , 1 )
				}
			}
		})
	</script>
</body>
</html>