<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue入门</title>
	<script src="./vue.js"></script>
</head>
<body>
	<div id="root">
		<div @click=handeclick>{{text}}</div>
	</div>

	<script>
		new Vue({
			el: "#root",
			data: {
				msg: " world",
				number:123,
				text: "storng"
			},
			methods: {
				handeclick: function(){
					this.text = "world"
				}
			}
		})
	</script>
</body>
</html>